:root {
  --themegreen-color: #0a8e66; /* variable for theme green color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg img/bg graphics.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

/* KodeCrown logo */
#full-logo {
  display: block;
  width: 120px;
}

/* sign up container */
.signup-container-align {
  display: flex;
  justify-content: center;
}

.container-signup {
  width: 400px;
  margin: 20px 0 0;
  padding: 20px 20px 60px 50px;
  background-color: white;
  box-shadow: 0 0 6px 1px rgba(179, 179, 179, 0.7);
  border-radius: 7px;
}

.signup1 {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-top: 20px;
  font-size: 1.8rem;
}

#crossBtn {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.signup1 a {
  text-decoration: none;
}

.signup1 a:active {
  color: black;
}

/* sign in code */
.signin-container {
  display: flex;
  justify-content: end;
}

.signin {
  font-size: 1rem;
  margin: 20px 0 25px 0;
}

.signin-link {
  color: var(--themegreen-color);
  font-weight: bold;
  text-decoration: none;
}

.signin-link:hover {
  color: #12b48b;
}

.signin-container,
.signup-input,
.signupBtn {
  margin-right: 30px;
}

/* sign up form input field */

#user,
#password,
#confirmPass,
#fname,
#lname {
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: 1px solid #626565;
  border-radius: 5px;
}

#user,
#password,
#confirmPass,
#fname,
#lname::placeholder {
  font-size: 1.1rem;
}

#lname {
  font-size: 1.1rem; /*Applied Bcoz above font size didn't works*/
}

#user,
#password,
#confirmPass,
#fname {
  margin-bottom: 10px;
}

/* Sign up button */
.signup-button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-top: 40px;
  background-color: var(--themegreen-color);
  color: white;
  font-size: 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

/* footer css */
.foot-align {
  display: flex;
  margin-top: 70px;
}

.footer {
  width: 930px;
  display: flex;
  gap: 13px;
  justify-content: center;
}

.copy-container {
  display: flex;
  padding-top: 0;
}

.copy-year {
  margin-top: 50px;
}

.footer-link {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

#logoblack {
  width: 70px;
  margin-right: 5px;
}

#copyright {
  display: inline;
  color: lightgray;
  font-size: 14px;
}

/* media query for screens below 957px */
@media (max-width: 858px) {
  .footer {
    flex-wrap: wrap;
  }
}

/* media query for screens below 700px */
@media (max-width: 700px) {
  .container-signup {
    margin-top: 30px;
  }
}

/* media query for screens below 450px */
@media (max-width: 450px) {
  #crossBtn {
    font-size: 15px;
  }

  .container-signup {
    padding: 20px 18px 40px;
  }

  .signup-input,
  .forgot-password,
  .signupBtn {
    margin-right: 0;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
